{% extends 'base.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col border border-dark text-secondary p-3 ">Количество конференций</div>
            <div class="col border border-dark text-secondary p-3 ">Количество участников</div>
            <div class="col border border-dark text-secondary p-3 ">Средняя длительность</div>
            <div class="col border border-dark p-3 bg-light text-secondary">График конференций</div>
            <div class="w-100"></div>
            <div class="text-center w-100">
                <img src="https://sun9-12.userapi.com/impf/jI39N4ztXtvKTwWKyZy7M34ZX4fotTXYO426fw/Wt-x-RjhpqE.jpg?size=2235x489&quality=96&sign=a56703b5994675f5f9039172590b9c87&type=album" class="img-fluid" alt="Responsive image">
            </div>
            <div class="w-100"></div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Модератор</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Username</th>
                    <th scope="col">Username</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Otto</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>Otto</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}