<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webpack</title>
</head>
<body>
  <div class="container">
    <h1>Webpack Course Content</h1>
  </div>
<div class="logo"></div>
<hr>
<pre></pre>
  <div data-controller="hello">
      <input data-hello-target="name" type="text">

      <button data-action="click->hello#greet">
          Greet
      </button>

      <span data-hello-target="output">
  </span>
  </div>
</body>
</html>